@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSE Hankers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
</head>
<body class="backgroundImage">
    <header>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style=" background-color: #e1e1e1;">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a href="~/Images/Logo.png"><img src="~/images/Navbar_Logo.png" style="overflow: hidden; width: 40px; height: 26px;"></a>
                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Dashboard">CSE Hankers</a>
                        }
                        else
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Dashboard">CSE Hankers</a>
                        }
                    }
                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CSE Hankers</a>
                    }
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    @if (signInManager.IsSignedIn(User))
                    {
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ReportedContents">Reported Contents</a>
                            </li>
                            <li class="nav-item">
                                <form asp-action="Logout" asp-controller="Account" method="post">
                                    <button type="submit" class="nav-link text-dark">Update</button>
                                    @*                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"></a>*@
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="articleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Articles
                                </a>
                                <div class="dropdown-menu" aria-labelledby="articleDropdown" style=" background-color: #e1e1e1;">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="">All Articles</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="MyArticles">My Articles</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="followDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Follow Users
                                </a>
                                <div class="dropdown-menu" aria-labelledby="followDropdown" style=" background-color: #e1e1e1;">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserFollowing" asp-action="Users">Follow Users</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserFollowing" asp-action="Followed">My Followed Users</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style=" background-color: #e1e1e1;">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                    <form asp-action="Logout" asp-controller="Account" method="post">
                                        <button type="submit" class="text-dark btn">Logout</button>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>

    </header>
    @if ((String)TempData["ErrorMessage"] != null)
    {

        <div id="errorNotification" style="color:white; margin-left:50%;" class="alert alert-danger alert-dismissible bg-danger w-50 mt-3">
            <a style="color:white;" href="#" class="close" data-dismiss="alert" aria-label="close">
                &times;
            </a>
            <strong style="color:white;">Error!</strong> @ViewBag.ErrorMessage @TempData["ErrorMessage"]
        </div>
    }
    @if ((String)TempData["SuccessMessage"] != null)
    {

        <div id="successNotification" style="color:white; margin-left:50%;" class="alert alert-success alert-dismissible bg-success w-50 mt-3">
            <a style="color:white;" href="#" class="close" data-dismiss="alert" aria-label="close">
                &times;
            </a>
            <strong style="color:white;">Success!</strong> @ViewBag.SuccessMessage @TempData["SuccessMessage"]
        </div>
    }

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted" style="background-color: #e1e1e1;">
        <div class="container">
            &copy; 2021 - CSE_Hankers - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>

        $("#errorNotification").delay(3200).fadeOut(700);
        $("#successNotification").delay(3200).fadeOut(700);
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
