@model CSE_Hankers.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="container" style=" background-color: #e1e1e1;">
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.likes)
        </dd>
    </dl>
</div>
<div class="container" style=" background-color: #e1e1e1;">
    <a asp-action="Like" asp-route-id="@Model.articleId">Like</a>
    <a asp-action="Index">Back to List</a>
</div>
