@model CSE_Hankers.Models.Article

@{
    ViewData["Title"] = "Details";
    ApplicationUser author = ViewBag.author;
}

<div class="container mt-4 mb-4">
    <a class="btn btn-outline-light" asp-action="Index">Back to List</a>
    <div class="card mt-4" style=" background-color: #e1e1e1;">
        <div class="card-header">
            <div class="row">
                <div class="col-11 h4 text-left">
                    @Model.title
                </div>
                <div class="col-1 text-right">
                    @Model.likes <a asp-action="Like" asp-route-id="@Model.articleId"><i class="fa fa-heart fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-dark" style="background-color: #f0f0f0">
        <div class="text-right">- @author.name</div>
        <br />
        @Markdown.ParseHtmlString(Model.description)
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "html",
                processData: false,
                url: "https://api.github.com/markdown/raw",
                data: "@Model.description",
                contentType: "text/plain",
                success: function (data) {
                    console.log("success!");
                    console.log(data);
                    //$("#id1").html(data)
                },
                error: function (jqXHR, textStatus, error) {
                    console.log(jqXHR, textStatus, error);
                }
            });
        });
    </script>
}