@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@model PaginatedList<CSE_Hankers.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<div class="container mt-4 bt-4">
    <p class="ml-3">
        <a asp-action="Create" class="btn btn-primary">Publish New</a> | <a asp-action="MyArticles" class="btn btn-success">My Articles</a>
    </p>

    <div class="container mt-2 mb-2 ">



        @foreach (var item in Model)
        {
            <div class="row mt-2 mb-3">
                <div class="col-md-12 col-sm-12">

                    <div class="card rounded shadow" style="background-color: #e1e1e1;">
                        <div class="card-header float-right text-right" style="height: 4.5rem;">
                            @{
                                int titleLen = item.title.Length;
                                int l = titleLen > 105 ? 105 : titleLen;
                                bool isTitleLong = titleLen > 105 ? true : false;
                            }
                            <a asp-action="Profile" asp-controller="Account" asp-route-username="@item.author.UserName"><p class="text-muted text-right">- @item.author.name</p></a>
                            <a asp-action="Profile" asp-controller="Account" asp-route-username="@item.author.UserName"><img src="~/Images/Profiles/@item.author.photoPath" class="rounded-circle" style="height: 50px; width:50px; margin-bottom: -10px; margin-right:10px;" /></a>
                        </div>
                        <div class="card-body">
                            @{
                                int markdownLen = item.description.Length;
                                int len = markdownLen > 250 ? 250 : markdownLen;
                                bool isLong = markdownLen > 250 ? true : false;
                            }
                            <p class="card-text mt-2">
                                <div class="row">
                                    <div class="col-9 h5">
                                        <a asp-action="Details" asp-route-id="@item.articleId" style="text-decoration:none !important;" class="text-dark">
                                            <a asp-action="Details" asp-route-id="@item.articleId" style="text-decoration:none !important;  font-size: 11px;" class="btn btn-dark rounded-pill mb-3">Title</a>
                                            <br />
                                            @item.title
                                            @if (isTitleLong)
                                            {
                                                <span>...</span>
                                            }
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <div class="text-right mr-4">
                                            &nbsp;
                                        </div>
                                        @*<div class="text-right mr-4">
                                            &#9650;
                                        </div>*@
                                        <div class="text-right mr-3">@item.likes <i class="fa fa-heart fa-lg" style="color:red;"></i></div>
                                        <div class="text-right">
                                            <span class="text-muted">
                                                @item.timeStamp.Day-@item.timeStamp.Month-@item.timeStamp.Year
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <br />
                                    <a asp-action="Details" asp-route-id="@item.articleId" style="text-decoration:none !important;" class="text-dark">
                                        <span>@Markdown.ParseHtmlString(item.description.Substring(0, len))</span>
                                    </a>
                                    @if (isLong)
                                    {
                                        <span><a asp-action="Details" asp-route-id="@item.articleId">View more...</a></span>
                                    }
                                </div>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>



    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-light ml-3 rounded-pill @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-light ml-3 rounded-pill @nextDisabled">
        Next
    </a>
</div>

@*@if (signInManager.IsSignedIn(User))
    {
        <a asp-action="Comments" asp-controller="ArticleComment" asp-route-id="@item.articleId">Comments</a>
    }*@