@model IEnumerable<CSE_Hankers.Models.Article>

@{
    ViewData["Title"] = "MyArticles";
}

<h1>MyArticles</h1>

<div class="row container" style=" background-color: #e1e1e1;">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.likes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.likes)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.articleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.articleId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.articleId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
