@model IEnumerable<CSE_Hankers.Models.ApplicationUser>

@{
    ViewData["Title"] = "users";
}

<div class="container mt-4">
    <a class="btn btn-outline-light rounded rounded-pill" asp-controller="Home" asp-action="Index">Back</a>
    <a asp-action="Followed" class="btn btn-success rounded-pill">Followed Users</a>
    <div class="pb-4 mt-3 rounded" style=" background-color: #e1e1e1;">
        <div class="ml-3 mr-3">
            <div class="">
                <br />
                <h3>Users</h3>
            </div>
            <hr />
            <div>
                <table class="table table-striped table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a style="text-decoration:none;" class="text-dark" asp-action="Profile" asp-controller="Account" asp-route-username="@item.UserName">
                                        @item.UserName
                                    </a>
                                </td>
                                <td>
                                    <a style="text-decoration:none;" class="text-dark" asp-action="Profile" asp-controller="Account" asp-route-username="@item.UserName">
                                        @item.name
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary rounded-pill " asp-controller="Article" asp-action="Users" asp-route-username="@item.Id"><i class="fa fa-newspaper-o"></i></a>
                                    <a class="btn btn-success rounded-pill" asp-action="Follow" asp-route-username="@item.UserName">Follow</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
